.card-booking {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: auto;
  border-radius: 24px;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.buttons{
  justify-content: space-between;
  .btn {
    color: white;
    border-radius: 24px;
  }
}

.list-box{
  width: 100%;
  margin-top: 70px;
}

.margin-btn {
  margin-right: 10px;
}
