<div class="container">
  <div class="row">

    <div class="col-4">
      <div class="card-product" style="background-image: url(https://image.freepik.com/photos-gratuite/anneau-bain-colore-flotteur-caoutchouc-autour-eau-piscine_74190-8511.jpg)">
        <div class="card-product-description">
          <h3>Ma belle bouée</h3>
          <h5>Montpellier</h5>
          <div class="d-flex justify-content-around">
            <p><i class="fas fa-paperclip"></i>Serious</p>
            <p><i class="fas fa-ruler-combined"></i>XL</p>
            <p><i class="fas fa-tag"></i>100€</p>
          </div>
          <p>
            Suspendisse faucibus nulla a nisi pharetra, vel imperdiet nunc rutrum.
          </p>
            <button class="btn-book btn btn-success">Choose me</button>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card-product" style="background-image: url(https://image.freepik.com/photos-gratuite/anneau-bain-colore-flotteur-caoutchouc-autour-eau-piscine_74190-8511.jpg)">
        <div class="card-product-description">
          <h3>Ma belle bouée</h3>
          <h5>Montpellier</h5>
          <div class="d-flex justify-content-around">
            <p><i class="fas fa-paperclip"></i>Serious</p>
            <p><i class="fas fa-ruler-combined"></i>XL</p>
            <p><i class="fas fa-tag"></i>100€</p>
          </div>
          <p>
            Suspendisse faucibus nulla a nisi pharetra, vel imperdiet nunc rutrum.
          </p>
            <button class="btn-book btn btn-success">Choose me</button>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card-product" style="background-image: url(https://image.freepik.com/photos-gratuite/anneau-bain-colore-flotteur-caoutchouc-autour-eau-piscine_74190-8511.jpg)">
        <div class="card-product-description">
          <h3>Ma belle bouée</h3>
          <h5>Montpellier</h5>
          <div class="d-flex justify-content-around">
            <p><i class="fas fa-paperclip"></i>Serious</p>
            <p><i class="fas fa-ruler-combined"></i>XL</p>
            <p><i class="fas fa-tag"></i>100€</p>
          </div>
          <p>
            Suspendisse faucibus nulla a nisi pharetra, vel imperdiet nunc rutrum.
          </p>
            <button class="btn-book btn btn-success">Choose me</button>
        </div>
      </div>
    </div>

  </div>
</div>