<div class="home-banner">
  <h2>Bored at the pool ? Don't forget the most important tool!</h2>
  <h1>Book a Buoy ... </h1>
</div>

<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>
<h2>CARDS</h2>
<br>

