.btn {
  color: white;
}

.btn-radius {
  border-radius: 24px;
}

.margin-btn {
  margin-right: 32px;
}

.btn-book {
  display: none;
}

.form-container-large .btn-back a {
  color: $blue;
  font-size: 12px
}
