.card-buoy-container{
  width: 100%;
  padding: 10px;
}

.card-buoy {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 24px;
  padding: 0px;
  margin: 8px;
  width: 100%;
}

.card-buoy > img {
  width: 100%;
  object-fit: cover;
}

.card-buoy-description {
  background-color: white;
  width: 100%;
  font-size: 12px;
  border-radius: 24px;
  padding: 16px;
  text-align: center;
  h3 {
    font-size: 18px;
  }
  p {
    color: rgb(50,50,50);
    font-size: 14px;
  }
  .fas {
    color: rgb(200, 200, 200);
    margin-right: 8px;
  }
}

.card-buoy-map {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 24px;
  height: 100%;
  margin: 8px;
  padding: 16px;
}

.card-buoy-address {
  margin: 8px auto;
  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  }
}
