.card-buoy {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 24px;
}

.card-buoy > img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.card-buoy h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-buoy p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-buoy .card-buoy-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-buoy-infos .card-buoy-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-buoy-map {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 24px;
  height: 100%;
  width: 40%;
  margin: 0px;
  margin-left: 24px;
  padding: 16px;
  padding-bottom: 0px;
  border-bottom-width: 50px;
}

.card-buoy-address {
  margin: 8px auto;
  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  }
}
