.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  background-color: transparent;
  transition: 0.5s background-color ease;
  width: 100vw;
  font-color: white;
  z-index: 1;
}

#navbar-logo {
  width: 100px !important;
  filter: invert(100%);
}
.nav-link {
color: white !important;
}

.navbar-toggler {
  border: none;
}

.navbar-lewagon-white {
  background-color: white;
  z-index: 1;
  .nav-link {
    color: black !important;
  }
  .navbar-toggler {
    border: none;
  }

  #navbar-logo {
    filter: invert(0%);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-space {
  height: 64px;
}


@media (max-width: 768px) {

  .dropdown-menu {
    display: block;
    float: right !important;
    width: 50%;
  }

  .nav-link {
    display:none !important;
  }

  #navbarDropdown {
    display:none !important;
  }
}


